# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Behave cache
*.feature~
*.py~

# Logs
logs/
*.log

# Allure reports
reports/allure-results/
reports/allure-report/

# Temporary files
*.tmp
*.temp
*.bak
*.swp

# Environment variables / secrets
.env
.env.*

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Coverage files
.coverage
htmlcov/
.pytest_cache/

# Build files
build/
dist/
*.egg-info/
